var config = {};

config.address = '10.0.0.1:80/onvif/device_service';
config.user = 'admin';
config.pass = 'changeme';
config.port = '8081';
config.host = 'localhost';
config.defaultxspeed = 1;
config.defaultyspeed = 1;
config.defaultzspeed = 1;

module.exports = config;
